<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jellyfish : Borrowing system</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="text-center">
        <button ion-button round (click)="scan()">สแกน QR</button>
    </div>
    <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
          {{item.name}}
          <div class="item-note" item-end>
            {{item.slot}}
          </div>
        </button>
    </ion-list>
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
      </div>
  </ion-content>
